# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# PyInstaller — garder le .spec mais ignorer les dossiers de build
build/
dist/

# Base de données locale
data/*.db

# Exécutable compilé
*.exe

# OS
.DS_Store
Thumbs.db
